body
{
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}

#content
{
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 0.8em;
	padding: 20px;
}

a {
	color: #438397;
}

h1 {
	font-size: 1.8em;
}

/** functional */
menu
{
	padding: 0;
}

button
{
	border: 1px #000000 solid;
	font-size: 1.1em;
	height: 30px;
	width: 100px;
}

.back-button
{
	background-color: #FFFFFF;
}

.back-button:hover
{
	cursor: pointer;
	background-color: #C4C4C4;
}

.primary-button
{
	color: #FFFFFF;
	font-weight: bold;
	background-color: #52A4BE;
}

.primary-button:hover
{
	cursor: pointer;
	background-color: #438397;
}

/** main menu */
header
{
	padding: 2px 20px;
	display: flex;
	justify-content: space-between;
	background-color: #52A4BE;
	border-bottom: 1px #000000 solid;
}

#header-logo
{
}

#header-menu
{
	display: flex;
	align-items: center;
}

#header-menu a
{
	color: #FFFFFF;
	padding-left: 20px;
	font: bold 1em 'Roboto', sans-serif;
	list-style-type: none;
	text-decoration: none;
}

#header-menu a:hover
{
	color: #438397;
	cursor: pointer;
}

/** sidebar */
#sidebar
{
	top: 0;
	bottom: 0;
	width: 20%;
	position: absolute;
	border-right: 1px #000000 solid;
	background-color: #FFFFFF;
}

#sidebar ul
{
	margin: 0;
	padding: 0;
}

#sidebar ul li
{
	text-align: left;
	line-height: 2.2em;
	border-bottom: 1px #C4C4C4 solid;
	list-style-type: none;
}

#sidebar ul li a
{
	padding: 0 10px;
	color: #000000;
	font: normal 1em 'Roboto', sans-serif;
	text-decoration: none;
	transition: 0.5s;
}

#sidebar ul li a:hover
{
	color: #52A4BE;
	cursor: pointer;
}

#overlay
{
	right: 0;
	bottom: 0;
	width: 80%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.title
{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.8em;
	margin-top: 50px;
}

/** gridview */
.grid-view
{
	padding: 2px;
}

.grid-view table.items
{
	border-collapse: separate;
	border-spacing: 0;
	border-right: none;
	border-bottom: none;
	border-top: none;
	border-left: 1px #000000 solid;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 1em;
	border: none;
	text-align: center;
}

.grid-view table.items th
{
	background: #52A4BE;
	border-right: 1px #000000 solid;
	border-top: 1px #000000 solid;
}

.grid-view table.items th a
{
	color: #FFFFFF;
}

.grid-view table.items td
{
	background-color: #FFFFFF;
	border-right: 1px #000000 solid;
	border-bottom: 1px #C4C4C4 solid;
	padding: 0.4em;
}

.grid-view table.items tr
{
}

.grid-view table.items tr:last-child
{
	border-bottom-color: #FFFFFF;
}

.grid-view .button-column
{
	width: 40px;
}

/** detailview */
table.detail-view
{
	border-collapse: collapse;
	border: 1px #000000 double;
	width: 70%;
}

table.detail-view th, table.detail-view td
{
	font-size: 1.15em;
	font-weight: normal;
	text-align: left;
	background-color: #FFFFFF;
	border-right: 1px #000000 solid;
	border-left: 1px #000000 solid;
	border-top: 1px #C4C4C4 solid;
	border-bottom: 1px #C4C4C4 solid;
	padding: 0.4em;
}

table.detail-view th
{
	width: 20%;
}

/** tabs */
.tabs>input[type="radio"] {
	display: none;
}

.tabs>div {
	display: none;
	border: 1px #000000 solid;
	padding: 0 15px;
}

#tab-button-requests:checked~#requests,
#tab-button-articles:checked~#articles {
	display: block;
}

.tabs>label {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: #52A4BE;
	border: 1px #000000 solid;
	color: #FFFFFF;
	padding: 0 20px;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 2.2;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	cursor: pointer;
	position: relative;
	top: 1px;
}

.tabs>input[type="radio"]:checked+label {
	color: #52A4BE;
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

/** yii tabs */
.yiiTab
{
	padding: 15px 0;
}

.yiiTab ul.tabs
{
	padding: 5px 0;
	border-bottom: none;
	font: bold 1.2em 'Roboto', sans-serif;
}

.yiiTab ul.tabs a
{
	padding: 5px 2em;
	margin: 0;
	border: 1px #000000 solid;
	border-bottom: none;
	background: #FFFFFF;
	text-decoration: none;
}

.yiiTab ul.tabs a:link
{
	color: #438397;
}

.yiiTab ul.tabs a:visited
{
	color: #438397;
}

.yiiTab ul.tabs a:hover
{
	background: #FFFFFF;
	border-color: #000000;
}

.yiiTab ul.tabs a.active
{
	color: #438397;
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.yiiTab div.view
{
	border: 1px solid #000000;
}

/** article editor */
.article-title
{
	width: 70%;
	height: fit-content;
	margin-bottom: 10px;
	border: 1px #D1D1D1 solid;
}
